.total{
  background: black;
  margin-top: 80px;
}
.body{
    background: whitesmoke;
    width: 600px;
    min-height: 600px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header{
  font-size:60px;  
  color: rgb(245, 214, 199);
  font-family: 'Quicksand', sans-serif;
  position: relative;
  top: -40px;
}
.tolist{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
	justify-content: space-between;
	align-items: center;
	position: relative;
  top:-60px;
	box-shadow: 0 10px 10px rgba(139,139,139,.25);
  background:white ;  
}

.new-tolist{
  border: none;
	padding: 20px;
  padding-left: 30px;
	width: 90%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #b8b8b8;
  background:white ;
}
.new-tolist:focus{
  outline: none;
}

.list{
	list-style: none;
	overflow: auto;
  width: 100%;
  position: relative;
  left: -8%;
  top: -15px;
}

.element {
	height: 60px;
	align-items: center;
	color: #4B4B4B;
	font-size: 20px;
	display: flex;
  justify-content: space-between;	
  border-bottom: 1px solid #b8b8b8;
  opacity: 0.9;
}

.text-element{
 margin-left: 30px;
}

.delete-element{
  cursor: pointer;
	font-size: 16px;
  margin-right: 20px;
  opacity: 0;
  color: rgb(223, 167, 228);
}

.element:hover .delete-element{
  opacity: 0.8;
}

.sizeList{
  opacity: 0.4;
  position: relative;
  left: -200px;
  top: -23px;
  height:10px;
}

.shade1{
  width: 490px;
  height: 4px;
  background: white;
  position: relative;
  left: 55px;
  top: -60px;
  border-bottom: 1px solid #f0e9e9;
  border-top: 1px solid #f0e9e9;
}
.shade2{
  width: 485px;
  height: 4px;
  background: white;
  position: relative;
  left: 58px;
  top: -60px;
  border-bottom: 1px solid #f0e9e9;
}
.clear-list{
  border-radius: 5px;
  cursor: pointer;
  background: rgb(245, 214, 199);
  border: 1px solid ;
}

.clear-list:hover{
 background: rgb(223, 172, 147);
}
